<module id="menu" version="1">
    <menugroup>content</menugroup>
    <icon>battery-0</icon>
    <privileges>
        <p id="show">0</p>
        <p id="admin">0</p>
        <p id="delete">0</p>
        <p id="delete_items">0</p>
    </privileges>
    <help>http://wiki.exetra.sk/index.php?title=Kateg%C3%B3rie</help>
</module>